# Keep environment variables out of version control
.env

/src/generated/prisma

# Ignore node_modules
node_modules/
client/node_modules/
server/node_modules/


# Ignore build output
dist/
.next/
.turbo/
